/* IMPORT ASSETS */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
	--primary-red: #c23616;
}

/* CUSTOM GLOBAL STYLES */
.float-right {
	float: right;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.column {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
}

.rg-2 {
	row-gap: 2rem;
}

.space-between {
	justify-content: space-between;
}

.baseline {
	align-items: baseline;
}

.red {
	color: red;
}

/* GLOBAL STYLES */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

#root {
	width: 100%;
	height: 100%;
	position: relative;
}

html,
body {
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
	font-size: 15px;
	position: relative;
}

p {
	font-size: 1rem;
	font-weight: 400;
}

h1 {
	font-weight: 800;
	font-size: 2.5rem;
	line-height: 2.5rem;
}

h2 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 2rem;
}

h3 {
	font-weight: 700;
	font-size: 1.65rem;
	line-height: 1.65rem;
}

h4 {
	font-weight: 700;
	font-size: 1.2rem;
	line-height: 1.2rem;
}

h5 {
	font-weight: 600;
	font-size: 1rem;
	line-height: 1rem;
}

a {
	color: var(--primary-blue);
	text-decoration: none;
}

svg {
	color: black;
	width: 2rem;
	height: 2rem;
	transition: all 0.25s;
}
